*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
body{
  font-family:poppins;
  background:  #e7f0fc; 
  margin: 0;
}
nav{
  border-radius: 7px;
  background: rgb(254, 254, 254);
  height:80px;
  width:100%;
  position: fixed;
}
label.logo{
  color:rgb(73, 112, 166);
  font-size:35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight:bold;
}
nav ul{
 float: right;
 margin-right:20px;
}
nav ul li{
  display:inline-block;
  line-height:80px;
  margin: 0 5px;
}
nav ul li .a1{
  color:rgb(96, 127, 158);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  transition: all 1s;
}
.a1.active,.a1:hover{
  text-shadow:2px 2px 5px rgb(153, 153, 213) ;
  color: rgba(150, 169, 224, 0.999);
  font-size: 18px;
}
.checkbtn{
  font-size: 30px;
  color: rgb(255, 255, 255);
  float:right; 
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display:none;

}


/*FIRST*/
  @media(max-width:952px){

    nav{
    border-radius: 7px;
    background: rgb(254, 254, 254);
    height:80px;
    width:100%;
    position: fixed;
    border-bottom: 2px solid rgb(78, 99, 139); 
    border-radius: 0 0 7px 7px;
  }
    .checkbtn{
    font-size: 30px;
    color: rgb(78, 99, 139);
    float:right;
    line-height: 80px;
    margin-right: 60px;
    cursor: pointer;
  }
    .checkbtn{
      display: block;
    }
    ul{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: #a2b6cb;
      top: 80px;
      left:-100%;
      text-align: center;
      transition: all 1s ease;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li.a1{
      font-size: 20px; 
    }
    .a1:hover,.a1.active{
      background: none;
      color: rgb(24, 42, 63);
      text-shadow: 2px 2px 10px rgb(109, 119, 136); 
    }
   #check:checked~ul{
    left: 0;
   }
   label.logo{
    padding-left: 40px;
   }
   
  }

  